<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Affichage membre</title>
	</head>
	<body>
		<p>
			{% if member.active %}
				{{ member.firstname }}
				est actif depuis
				{{member.membership}}
			{% else %}
				{{ member.firstname }}
				est inactif.
			{% endif %}
		</p>
	</body>
</html></body></html>
